<div class="main-content">
	<div id="recipe_top" class="row">
		<div class="col-md-5">
			<%= image_tag @recipe.image.url(:medium, class: "recipe_image") %>			
		</div>
		<div class="col-md-7">
			<div id="recipe_info">
				<h1><%=@recipe.title %></h1>
				<p class="description"> <%= @recipe.description %></p>
			<% if user_signed_in? %>
				<% if current_user.id == @recipe.user.id %> <%# if it is the user that created the recipe display the edit button %>
					<p> Created by You</p>			
				
				<% end %>
			<% end %>
<p> <%=@recipe.user.email %>


			</div>
			
		</div>
		
	</div>

	<div class="row">
		<div class="col-md-6">
			<div id="ingredients">
				<h2>Ingredients</h2>
					<ul>
						<% @recipe.ingredients.each do |ingredient| %>
						<li><%= ingredient.name %> </li>
						<% end %>
					</ul>
				
			</div>
			
		</div>
		<div class="col-md-6">
			<div id="directions">
				<h2>Directions</h2>
					<ul>
						<% @recipe.directions.each do |direction| %>
						<li><%= direction.step %> </li>
						<% end %>
					</ul>
				
			</div>
			
		</div>
	<div class="row">
		<div class="col-md-4 col-sm-offset-4">
		<% if user_signed_in? %>
			<% if current_user.id == @recipe.user.id %> <%# if it is the user that created the recipe display the edit button %>
				<%= link_to "back", root_path, class: "btn btn-default" %>
				<%= link_to "edit", edit_recipe_path, class: "btn btn-default" %>
				<%= link_to "delete", recipe_path, method: :delete, data: {confirm: "Are You sure"}, class: "btn btn-danger" %>
			<% end %>
		<% end %>
		</div>
		
	</div>
		
	</div>
</div>




